* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
    background-color: #1f2933;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

span {
    color: #e5e8eb;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 20px;
    display: block;
    text-align: center;
}

.container {
    background-color: #ffffff;
    display: flex;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
    padding: 20px;
}

.image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 190px;
    height: 190px;
    object-fit: contain;
}

.form {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-size: 14px;
    margin-bottom: 5px;
    display: inline-block;
    color: #333;
}

input {
    width: 100%;
    padding: 15px;
    font-size: 15px;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
}

input:focus {
    border-color: #007BFF;
}

.loginOrHelp {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

button {
    width: 100%;
    padding: 10px;
    height: 50px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

a {
    text-decoration: none;
    color: #007BFF;
    font-size: 14px;
    transition: color 0.3s ease;
}

a:hover {
    color: #0056b3;
}

.error-message {
    color: transparent;
    font-size: 12px;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        padding: 30px 15px;
    }

    img {
        width: 80px;
        height: 80px;
    }
}